<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<body class = "index-page">
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-6"><%=title %></h1>
  </div>
  <div class = "homeWrapper">
    <p>I’m thrilled that you’ve stopped by. My name is Samrot, and I’m currently a second-year student at Ontario Tech University studying in Networking & IT Security. 
    As someone with a deep interest in the ever-evolving world of technology, I am dedicated to building a strong foundation in cybersecurity.
This site serves as a reflection of my journey in the field — a collection of my projects, skills, and creative ideas that fuel my passion for innovation and technological advancement. 
From designing secure networks to understanding the nuances of ethical hacking, I aim to continuously explore ways to protect and improve digital infrastructures.
I’m driven by a passion to make an impact in the field of Cybersecurity. As technology continues to shape the world around us, I aspire to contribute to creating safer, 
more secure digital environments.
Thank you for visiting my portfolio. Feel free to explore my work and reach out if you’d like to connect, collaborate, or discuss the exciting world of cybersecurity!</p>
      </div>
  <div id="bitmoji">
    <img src= "./Assets/images/bitmoji.jpg" alt="Bitmonji image"/>
    </div>
</div>
</main>
</body>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>



