<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<body class = "projects-page">
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-6">My <%=title %></h1>
  </div>
  <div class = "projectWrapper">
    <p>Here you will find my projects that I've worked on in the past.</p>
    <p>This was a project I've done last year which involved encrypting user-entered text. 
       The program would take in user input, randomly choose one of the 3 ciphering methods implemented - Substitution, Caesar and Transposition. 
       The user can enter 'stop' to exit the program and see the results - plaintext, the encrypted message, method used for encryption, and the decrypted message. </p>
</div>
</main>
</body>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
